<div class="container">
  <p>Configurações das paginas do Zoo Bird.</p>

  <form name="outerForm" class="tab-form-demo">
    <uib-tabset active="activeForm">
      <uib-tab index="0" heading="Home">
        <ng-form name="nestedForm">
          <div class="form-group">
            <div class="row">
              <label>Imagem esquerda</label>
              <input type="file" ngf-select ngf-change="onFileSelect($files, 'home', 'left')">
              Image thumbnail: <img ng-src="{{model.pages.home.left.photo}}" style="height: 75px; width: 75px;">
            </div>
            <br><br>
            <div class="row">
              <label>Texto esquerda</label>
              <textarea class="form-control" ng-model="model.pages.home.left.text"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label>Imagem Centro</label>
              <input type="file" ngf-select ngf-change="onFileSelect($files, 'home', 'center')">
              Image thumbnail: <img ng-src="{{model.pages.home.center.photo}}" style="height: 75px; width: 75px;">
            </div>
            <div class="row">
              <label>Texto Centro</label>
              <textarea class="form-control" required ng-model="model.pages.home.center.text"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label>Imagem Direita</label>
              <input type="file" ngf-select ngf-change="onFileSelect($files, 'home', 'right')">
              Image thumbnail: <img ng-src="{{model.pages.home.right.photo}}" style="height: 75px; width: 75px;">
            </div>
            <div class="row">
              <label>Texto Direita</label>
              <textarea class="form-control" required ng-model="model.pages.home.right.text"></textarea>
            </div>
          </div>
        </ng-form>
      </uib-tab>
      <uib-tab index="1" heading="Quem Somos">
        <ng-form name="nestedForm">
          <div class="form-group">
            <div class="row">
              <label>Imagem esquerda</label>
              <input type="file" ngf-select ngf-change="onFileSelect($files, 'aboutus', 'left')">
              Image thumbnail: <img ng-src="{{model.pages.aboutus.left.photo}}" style="height: 75px; width: 75px;">
            </div>
            <br><br>
            <div class="row">
              <label>Texto esquerda</label>
              <textarea class="form-control" ng-model="model.pages.aboutus.left.text"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label>Imagem Centro</label>
              <input type="file" ngf-select ngf-change="onFileSelect($files, 'aboutus', 'center')">
              Image thumbnail: <img ng-src="{{model.pages.aboutus.center.photo}}" style="height: 75px; width: 75px;">
            </div>
            <div class="row">
              <label>Texto Centro</label>
              <textarea class="form-control" required ng-model="model.pages.aboutus.center.text"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label>Imagem Direita</label>
              <input type="file" ngf-select ngf-change="onFileSelect($files, 'aboutus', 'right')">
              Image thumbnail: <img ng-src="{{model.pages.aboutus.right.photo}}" style="height: 75px; width: 75px;">
            </div>
            <div class="row">
              <label>Texto Direita</label>
              <textarea class="form-control" required ng-model="model.pages.aboutus.right.text"></textarea>
            </div>
          </div>
        </ng-form>
      </uib-tab>
      <uib-tab index="2" heading="Viveiro">
        More Tab Content
      </uib-tab>
      <uib-tab index="2" heading="Diferencial">
        <ng-form name="nestedForm">
          <div class="form-group">
            <div class="row">
              <label>Imagem esquerda</label>
              <input type="file" ngf-select ngf-change="onFileSelect($files, 'diferencial', 'left')">
              Image thumbnail: <img ng-src="{{model.pages.diferencial.left.photo}}" style="height: 75px; width: 75px;">
            </div>
            <br><br>
            <div class="row">
              <label>Texto esquerda</label>
              <textarea class="form-control" ng-model="model.pages.diferencial.left.text"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label>Imagem Centro</label>
              <input type="file" ngf-select ngf-change="onFileSelect($files, 'diferencial', 'center')">
              Image thumbnail: <img ng-src="{{model.pages.diferencial.center.photo}}"
                                    style="height: 75px; width: 75px;">
            </div>
            <div class="row">
              <label>Texto Centro</label>
              <textarea class="form-control" required ng-model="model.pages.diferencial.center.text"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label>Imagem Direita</label>
              <input type="file" ngf-select ngf-change="onFileSelect($files, 'diferencial', 'right')">
              Image thumbnail: <img ng-src="{{model.pages.diferencial.right.photo}}" style="height: 75px; width: 75px;">
            </div>
            <div class="row">
              <label>Texto Direita</label>
              <textarea class="form-control" required ng-model="model.pages.diferencial.right.text"></textarea>
            </div>
          </div>
        </ng-form>
      </uib-tab>
      <uib-tab index="2" heading="Contato">
        More Tab Content
      </uib-tab>
    </uib-tabset>
  </form>

  <input type="submit" ng-click="update()">
</div>
