$background-url: url("../../assets/images/fundo_cabecalho.png");
$wood-background-url: url("../../assets/images/madeira rodape.png");

footer {
  background-image: $background-url;
  padding: 1% 0;
  color: white;
  word-wrap: break-word;

  .wood-layer {
    background-image: $wood-background-url;
    max-width: 200%;
    overflow: hidden;
  }

  > h2 {
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  > h3 {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  > h4, p {
    color: white;
    font-size: 12px;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  > p {
    padding-left: 0;
    font-size: 10px;
  }
}
