<header class="hero-unit" id="banner">
  <img class="img-responsive center-block" ng-src="{{model.pages.noticias.top.photo}}">
</header>

<div id="background-section" class="background-section">
  <div class="row" style="margin:0">
    <img class="img-responsive center-block" style="position: absolute"
         ng-src="/assets/images/{{manifest['background_leafs.png']}}">

    <div class="foreground-section" style="padding-bottom: 5%">
      <div class="wrapper center-block" style="position: relative;">

        <div class="card radius shadowDepth1" ng-repeat="news in model.pages.noticias.news">
          <div class="card__image border-tlr-radius">
            <img ng-src="{{news.image}}" alt="image" class="border-tlr-radius"
                 ng-if="news.image != null || news.image != undefined && news.image.length > 0">
            <div class="video-container"
                 ng-if="news.videoUrl != null && news.videoUrl != undefined && news.videoUrl.length > 0">
              <iframe ng-src="{{news.videoUrl | trustThisUrl}}" frameborder="0" width="560" height="315"></iframe>
              {{news.videoUrl.length === 0}}
            </div>
          </div>

          <div class="card__content card__padding">
            <div class="card__meta">
              <a href="#">On Time</a>
              <time>{{news.date}}</time>
            </div>

            <article class="card__article">
              <h2 style="word-break: break-all;"><a href="#" style="">{{news.title}}</a></h2>

              <p style="word-break: break-all">{{news.description}}</p>
            </article>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
