.block-grid {
  display: block;
  overflow: hidden;
  padding: 0;

  > li {
    display: block;
    height: auto;
    float: left;
  }

  .four-up {
    margin: 0 -10px;
    > li {
      width: 25%;
      padding: 0 10px 10px;
      :nth-child(4n+1) {
        clear: both;
      }
    }
  }
}

.demo-basic {
  text-align: center;
  .demo-block div {
    background-color: gray;
    color: white;
    height: 150px;
    line-height: 150px;
    font-size: 60px;
    margin-bottom: 10px;
  }
}
